<div class="popover popover-music">
  <div class="popover-angle"></div>
  <div class="popover-inner">
    <div class="list-block media-list">
      <ul>
        <li><a href="#" class="item-link item-content">
          <div class="item-media"><img src="http://lorempixel.com/88/88/people/1" width="44"></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">Yellow Submarine</div>
            </div>
            <div class="item-subtitle">Beatles</div>
          </div></a></li>
          <li><a href="#" class="item-link item-content">
            <div class="item-media"><img src="http://lorempixel.com/88/88/people/2" width="44"></div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">Don't Stop Me Now</div>
              </div>
              <div class="item-subtitle">Queen</div>
            </div></a></li>
            <li><a href="#" class="item-link item-content">
              <div class="item-media"><img src="http://lorempixel.com/88/88/people/3" width="44"></div>
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">Billie Jean</div>
                </div>
                <div class="item-subtitle">Michael Jackson</div>
              </div></a></li>
            </ul>
          </div>
        </div>
      </div>