<div class="picker-modal picker-modal-demo">
	<div class="toolbar">
		<div class="toolbar-inner">
			<div class="left"></div>
			<div class="right"><a href="#" class="link close-picker">Done</a></div>
		</div>
	</div>
	<div class="picker-modal-inner">
		<div class="content-block">Integer mollis nulla id nibh elementum finibus. Maecenas eget fermentum ipsum. Sed sagittis condimentum nisl at tempus. Duis lacus libero, laoreet vitae ligula a, aliquet eleifend sapien. Nullam sodales viverra sodales.</div>
	</div>
</div>