/*
 	Create By: Ashvin-iMac
	Created On: Tue Dec 22 2015 16:04:48 GMT+0530 (IST)
	Media: screen and (min-width: 1024px)
	Description: No description available
*/

.red{
  background: rgba(184, 66, 66, 0.17);
}
